:host {
  --crispiness: 1.0;
}

.toasts {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  top: -50px;
  justify-content: center;
  width: 100%;
  transition: top 0.2s cubic-bezier(0, 0, 0.29, 3.00);
}

.toast {
  height: 70px;
  width: 70px;
  border-radius: 15px 15px 0 0;
  border: 1px solid rgb(245, 237, 211);
  background-color: rgb(241, 236, 216);
  background-image:
      radial-gradient(rgb(250, 247, 238) 20%, transparent 20%),
      radial-gradient(rgb(254, 250, 235) 20%, transparent 20%)
  ;
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
  position: relative;
  box-shadow: 0 0 0 2px rgb(221, 205, 152);
  z-index: -1;
}

.toaster {
  background-color:rgb(188, 188, 188);
  background:
    linear-gradient(rgb(255, 255, 255) 5%, rgb(206, 206, 206) 30%),
    linear-gradient(rgb(208, 208, 208) 0%, rgb(157, 157, 157) 90%);
  border: 2px solid grey;
  border-bottom: 4px solid black;
  width: 180px;
  height: 100px;
  border-radius: 15px 15px 0 0;
  position: relative;
  margin-right: 10px;
  margin-top: 70px;
  box-shadow: 0 0 0 3px rgb(212, 209, 209);
}

.handle {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: -15px;
  background-color: #000;
  border-radius: 67% 0% 79% 0% / 55% 35% 31% 0%;
  width: 15px;
  height: 20px;
  transition: top 0.2s ease-in;

}

.grilling .toasts{
  top: 0;
}

.grilling .handle {
  top: 50px;
}

.toast.toasted {
  filter: brightness(var(--crispiness));
  border: 1px solid rgb(250, 234, 180);
  box-shadow: 0 0 0 2px rgb(201, 164, 45);
  background-color: rgb(239, 201, 77);
  background-image:
      radial-gradient(rgb(248, 215, 105) 20%, transparent 20%),
      radial-gradient(rgb(224, 178, 28) 20%, transparent 20%)
  ;
}

label {
  position: absolute;
  font-size: 0.8em;
  bottom: 25px;
  right: 25px;
  color:rgb(108, 108, 108);
}

.slider {
  position: absolute;
  bottom: 10px;
  right: 8px;
  -webkit-appearance: none;
  height: 5px;
  width: 70px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(196, 196, 196));
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: radial-gradient(rgb(0, 0, 0) 20%, rgb(196, 196, 196));
  cursor: col-resize	;
  border-radius: 50% 50% 0 0;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}





/* Fire */

.fire {
  font-size: 24px;
  filter: blur(0.01em);
  -webkit-filter: blur(0.01em);
  margin: 3em auto 0 auto;
  position: absolute;
  width: 700px;
  top: -50px;
  left: 0;
}

.particle {
  animation:
    1s ease-in infinite rise,
    2s linear smoke-to-fire forwards,
    10s linear 20s fade-out forwards;
  background-image: radial-gradient(rgb(82 76 74) 20%, rgba(255, 80, 0, 0) 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 3em;
  height: 3em;;
}


@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes smoke-to-fire {
  from {
    background-image: radial-gradient(rgb(82, 76, 74) 20%, rgba(255, 80, 0, 0) 70%);
  }
  to {
    background-image: radial-gradient(#ff5000 20%, rgba(255, 80, 0, 0) 70%);
  }
}


.particle:nth-of-type(1) {
  animation-delay: 0.1124187403s;
  left: calc((100% - 3em) * 0);
}
.particle:nth-of-type(2) {
  animation-delay: 0.7012033031s;
  left: calc((100% - 3em) * 0.004);
}
.particle:nth-of-type(3) {
  animation-delay: 0.3141053638s;
  left: calc((100% - 3em) * 0.008);
}
.particle:nth-of-type(4) {
  animation-delay: 0.01097728s;
  left: calc((100% - 3em) * 0.012);
}
.particle:nth-of-type(5) {
  animation-delay: 0.9607628974s;
  left: calc((100% - 3em) * 0.016);
}
.particle:nth-of-type(6) {
  animation-delay: 0.7272959555s;
  left: calc((100% - 3em) * 0.02);
}
.particle:nth-of-type(7) {
  animation-delay: 0.3701371275s;
  left: calc((100% - 3em) * 0.024);
}
.particle:nth-of-type(8) {
  animation-delay: 0.544859825s;
  left: calc((100% - 3em) * 0.028);
}
.particle:nth-of-type(9) {
  animation-delay: 0.7566163577s;
  left: calc((100% - 3em) * 0.032);
}
.particle:nth-of-type(10) {
  animation-delay: 0.9513954226s;
  left: calc((100% - 3em) * 0.036);
}
.particle:nth-of-type(11) {
  animation-delay: 0.8829928776s;
  left: calc((100% - 3em) * 0.04);
}
.particle:nth-of-type(12) {
  animation-delay: 0.468545428s;
  left: calc((100% - 3em) * 0.044);
}
.particle:nth-of-type(13) {
  animation-delay: 0.7477064461s;
  left: calc((100% - 3em) * 0.048);
}
.particle:nth-of-type(14) {
  animation-delay: 0.2849555315s;
  left: calc((100% - 3em) * 0.052);
}
.particle:nth-of-type(15) {
  animation-delay: 0.9682000341s;
  left: calc((100% - 3em) * 0.056);
}
.particle:nth-of-type(16) {
  animation-delay: 0.9969696365s;
  left: calc((100% - 3em) * 0.06);
}
.particle:nth-of-type(17) {
  animation-delay: 0.3790715807s;
  left: calc((100% - 3em) * 0.064);
}
.particle:nth-of-type(18) {
  animation-delay: 0.4062465589s;
  left: calc((100% - 3em) * 0.068);
}
.particle:nth-of-type(19) {
  animation-delay: 0.6378797885s;
  left: calc((100% - 3em) * 0.072);
}
.particle:nth-of-type(20) {
  animation-delay: 0.9486685139s;
  left: calc((100% - 3em) * 0.076);
}
.particle:nth-of-type(21) {
  animation-delay: 0.6739704638s;
  left: calc((100% - 3em) * 0.08);
}
.particle:nth-of-type(22) {
  animation-delay: 0.077610732s;
  left: calc((100% - 3em) * 0.084);
}
.particle:nth-of-type(23) {
  animation-delay: 0.8087816845s;
  left: calc((100% - 3em) * 0.088);
}
.particle:nth-of-type(24) {
  animation-delay: 0.6796295611s;
  left: calc((100% - 3em) * 0.092);
}
.particle:nth-of-type(25) {
  animation-delay: 0.8594221527s;
  left: calc((100% - 3em) * 0.096);
}
.particle:nth-of-type(26) {
  animation-delay: 0.8080673238s;
  left: calc((100% - 3em) * 0.1);
}
.particle:nth-of-type(27) {
  animation-delay: 0.6152204849s;
  left: calc((100% - 3em) * 0.104);
}
.particle:nth-of-type(28) {
  animation-delay: 0.1280792328s;
  left: calc((100% - 3em) * 0.108);
}
.particle:nth-of-type(29) {
  animation-delay: 0.2086458236s;
  left: calc((100% - 3em) * 0.112);
}
.particle:nth-of-type(30) {
  animation-delay: 0.5915398707s;
  left: calc((100% - 3em) * 0.116);
}
.particle:nth-of-type(31) {
  animation-delay: 0.7757366676s;
  left: calc((100% - 3em) * 0.12);
}
.particle:nth-of-type(32) {
  animation-delay: 0.4973108033s;
  left: calc((100% - 3em) * 0.124);
}
.particle:nth-of-type(33) {
  animation-delay: 0.6965747526s;
  left: calc((100% - 3em) * 0.128);
}
.particle:nth-of-type(34) {
  animation-delay: 0.7412140745s;
  left: calc((100% - 3em) * 0.132);
}
.particle:nth-of-type(35) {
  animation-delay: 0.8834955423s;
  left: calc((100% - 3em) * 0.136);
}
.particle:nth-of-type(36) {
  animation-delay: 0.7997744794s;
  left: calc((100% - 3em) * 0.14);
}
.particle:nth-of-type(37) {
  animation-delay: 0.3896890352s;
  left: calc((100% - 3em) * 0.144);
}
.particle:nth-of-type(38) {
  animation-delay: 0.6681874932s;
  left: calc((100% - 3em) * 0.148);
}
.particle:nth-of-type(39) {
  animation-delay: 0.5780846816s;
  left: calc((100% - 3em) * 0.152);
}
.particle:nth-of-type(40) {
  animation-delay: 0.0405480531s;
  left: calc((100% - 3em) * 0.156);
}
.particle:nth-of-type(41) {
  animation-delay: 0.618644203s;
  left: calc((100% - 3em) * 0.16);
}
.particle:nth-of-type(42) {
  animation-delay: 0.307660434s;
  left: calc((100% - 3em) * 0.164);
}
.particle:nth-of-type(43) {
  animation-delay: 0.6657201768s;
  left: calc((100% - 3em) * 0.168);
}
.particle:nth-of-type(44) {
  animation-delay: 0.4775737096s;
  left: calc((100% - 3em) * 0.172);
}
.particle:nth-of-type(45) {
  animation-delay: 0.5142545392s;
  left: calc((100% - 3em) * 0.176);
}
.particle:nth-of-type(46) {
  animation-delay: 0.3056177214s;
  left: calc((100% - 3em) * 0.18);
}
.particle:nth-of-type(47) {
  animation-delay: 0.9410981127s;
  left: calc((100% - 3em) * 0.184);
}
.particle:nth-of-type(48) {
  animation-delay: 0.065743347s;
  left: calc((100% - 3em) * 0.188);
}
.particle:nth-of-type(49) {
  animation-delay: 0.15978837s;
  left: calc((100% - 3em) * 0.192);
}
.particle:nth-of-type(50) {
  animation-delay: 0.9723725265s;
  left: calc((100% - 3em) * 0.196);
}
.particle:nth-of-type(51) {
  animation-delay: 0.1856866801s;
  left: calc((100% - 3em) * 0.2);
}
.particle:nth-of-type(52) {
  animation-delay: 0.0589568554s;
  left: calc((100% - 3em) * 0.204);
}
.particle:nth-of-type(53) {
  animation-delay: 0.0606407074s;
  left: calc((100% - 3em) * 0.208);
}
.particle:nth-of-type(54) {
  animation-delay: 0.5974238669s;
  left: calc((100% - 3em) * 0.212);
}
.particle:nth-of-type(55) {
  animation-delay: 0.2386845059s;
  left: calc((100% - 3em) * 0.216);
}
.particle:nth-of-type(56) {
  animation-delay: 0.7018619119s;
  left: calc((100% - 3em) * 0.22);
}
.particle:nth-of-type(57) {
  animation-delay: 0.2155820527s;
  left: calc((100% - 3em) * 0.224);
}
.particle:nth-of-type(58) {
  animation-delay: 0.6051250316s;
  left: calc((100% - 3em) * 0.228);
}
.particle:nth-of-type(59) {
  animation-delay: 0.8759455682s;
  left: calc((100% - 3em) * 0.232);
}
.particle:nth-of-type(60) {
  animation-delay: 0.9990278971s;
  left: calc((100% - 3em) * 0.236);
}
.particle:nth-of-type(61) {
  animation-delay: 0.5610766491s;
  left: calc((100% - 3em) * 0.24);
}
.particle:nth-of-type(62) {
  animation-delay: 0.0693671992s;
  left: calc((100% - 3em) * 0.244);
}
.particle:nth-of-type(63) {
  animation-delay: 0.6274794573s;
  left: calc((100% - 3em) * 0.248);
}
.particle:nth-of-type(64) {
  animation-delay: 0.1482909521s;
  left: calc((100% - 3em) * 0.252);
}
.particle:nth-of-type(65) {
  animation-delay: 0.1945474701s;
  left: calc((100% - 3em) * 0.256);
}
.particle:nth-of-type(66) {
  animation-delay: 0.3864395807s;
  left: calc((100% - 3em) * 0.26);
}
.particle:nth-of-type(67) {
  animation-delay: 0.1541846798s;
  left: calc((100% - 3em) * 0.264);
}
.particle:nth-of-type(68) {
  animation-delay: 0.2474466201s;
  left: calc((100% - 3em) * 0.268);
}
.particle:nth-of-type(69) {
  animation-delay: 0.5041747906s;
  left: calc((100% - 3em) * 0.272);
}
.particle:nth-of-type(70) {
  animation-delay: 0.2618398937s;
  left: calc((100% - 3em) * 0.276);
}
.particle:nth-of-type(71) {
  animation-delay: 0.825286351s;
  left: calc((100% - 3em) * 0.28);
}
.particle:nth-of-type(72) {
  animation-delay: 0.3870373966s;
  left: calc((100% - 3em) * 0.284);
}
.particle:nth-of-type(73) {
  animation-delay: 0.5549007591s;
  left: calc((100% - 3em) * 0.288);
}
.particle:nth-of-type(74) {
  animation-delay: 0.136619529s;
  left: calc((100% - 3em) * 0.292);
}
.particle:nth-of-type(75) {
  animation-delay: 0.3075474847s;
  left: calc((100% - 3em) * 0.296);
}
.particle:nth-of-type(76) {
  animation-delay: 0.2841857369s;
  left: calc((100% - 3em) * 0.3);
}
.particle:nth-of-type(77) {
  animation-delay: 0.3861240015s;
  left: calc((100% - 3em) * 0.304);
}
.particle:nth-of-type(78) {
  animation-delay: 0.9467679102s;
  left: calc((100% - 3em) * 0.308);
}
.particle:nth-of-type(79) {
  animation-delay: 0.6048573117s;
  left: calc((100% - 3em) * 0.312);
}
.particle:nth-of-type(80) {
  animation-delay: 0.8436030364s;
  left: calc((100% - 3em) * 0.316);
}
.particle:nth-of-type(81) {
  animation-delay: 0.0120494198s;
  left: calc((100% - 3em) * 0.32);
}
.particle:nth-of-type(82) {
  animation-delay: 0.710221917s;
  left: calc((100% - 3em) * 0.324);
}
.particle:nth-of-type(83) {
  animation-delay: 0.1628778828s;
  left: calc((100% - 3em) * 0.328);
}
.particle:nth-of-type(84) {
  animation-delay: 0.4576408047s;
  left: calc((100% - 3em) * 0.332);
}
.particle:nth-of-type(85) {
  animation-delay: 0.508775539s;
  left: calc((100% - 3em) * 0.336);
}
.particle:nth-of-type(86) {
  animation-delay: 0.3047647993s;
  left: calc((100% - 3em) * 0.34);
}
.particle:nth-of-type(87) {
  animation-delay: 0.0429531853s;
  left: calc((100% - 3em) * 0.344);
}
.particle:nth-of-type(88) {
  animation-delay: 0.614949237s;
  left: calc((100% - 3em) * 0.348);
}
.particle:nth-of-type(89) {
  animation-delay: 0.893762299s;
  left: calc((100% - 3em) * 0.352);
}
.particle:nth-of-type(90) {
  animation-delay: 0.8966779507s;
  left: calc((100% - 3em) * 0.356);
}
.particle:nth-of-type(91) {
  animation-delay: 0.8262499767s;
  left: calc((100% - 3em) * 0.36);
}
.particle:nth-of-type(92) {
  animation-delay: 0.5806551355s;
  left: calc((100% - 3em) * 0.364);
}
.particle:nth-of-type(93) {
  animation-delay: 0.3577962716s;
  left: calc((100% - 3em) * 0.368);
}
.particle:nth-of-type(94) {
  animation-delay: 0.2249207947s;
  left: calc((100% - 3em) * 0.372);
}
.particle:nth-of-type(95) {
  animation-delay: 0.8541542071s;
  left: calc((100% - 3em) * 0.376);
}
.particle:nth-of-type(96) {
  animation-delay: 0.0594601257s;
  left: calc((100% - 3em) * 0.38);
}
.particle:nth-of-type(97) {
  animation-delay: 0.296055135s;
  left: calc((100% - 3em) * 0.384);
}
.particle:nth-of-type(98) {
  animation-delay: 0.275945764s;
  left: calc((100% - 3em) * 0.388);
}
.particle:nth-of-type(99) {
  animation-delay: 0.7552403582s;
  left: calc((100% - 3em) * 0.392);
}
.particle:nth-of-type(100) {
  animation-delay: 0.6072061393s;
  left: calc((100% - 3em) * 0.396);
}
.particle:nth-of-type(101) {
  animation-delay: 0.5061123474s;
  left: calc((100% - 3em) * 0.4);
}
.particle:nth-of-type(102) {
  animation-delay: 0.6630785318s;
  left: calc((100% - 3em) * 0.404);
}
.particle:nth-of-type(103) {
  animation-delay: 0.0894882455s;
  left: calc((100% - 3em) * 0.408);
}
.particle:nth-of-type(104) {
  animation-delay: 0.0288682695s;
  left: calc((100% - 3em) * 0.412);
}
.particle:nth-of-type(105) {
  animation-delay: 0.1896537129s;
  left: calc((100% - 3em) * 0.416);
}
.particle:nth-of-type(106) {
  animation-delay: 0.6757463169s;
  left: calc((100% - 3em) * 0.42);
}
.particle:nth-of-type(107) {
  animation-delay: 0.3931486565s;
  left: calc((100% - 3em) * 0.424);
}
.particle:nth-of-type(108) {
  animation-delay: 0.7981674733s;
  left: calc((100% - 3em) * 0.428);
}
.particle:nth-of-type(109) {
  animation-delay: 0.6786623662s;
  left: calc((100% - 3em) * 0.432);
}
.particle:nth-of-type(110) {
  animation-delay: 0.5701949523s;
  left: calc((100% - 3em) * 0.436);
}
.particle:nth-of-type(111) {
  animation-delay: 0.3548072211s;
  left: calc((100% - 3em) * 0.44);
}
.particle:nth-of-type(112) {
  animation-delay: 0.9547087415s;
  left: calc((100% - 3em) * 0.444);
}
.particle:nth-of-type(113) {
  animation-delay: 0.00813237s;
  left: calc((100% - 3em) * 0.448);
}
.particle:nth-of-type(114) {
  animation-delay: 0.0548055658s;
  left: calc((100% - 3em) * 0.452);
}
.particle:nth-of-type(115) {
  animation-delay: 0.4847971711s;
  left: calc((100% - 3em) * 0.456);
}
.particle:nth-of-type(116) {
  animation-delay: 0.2995436033s;
  left: calc((100% - 3em) * 0.46);
}
.particle:nth-of-type(117) {
  animation-delay: 0.4970597876s;
  left: calc((100% - 3em) * 0.464);
}
.particle:nth-of-type(118) {
  animation-delay: 0.6111639377s;
  left: calc((100% - 3em) * 0.468);
}
.particle:nth-of-type(119) {
  animation-delay: 0.2563154551s;
  left: calc((100% - 3em) * 0.472);
}
.particle:nth-of-type(120) {
  animation-delay: 0.8848414435s;
  left: calc((100% - 3em) * 0.476);
}
.particle:nth-of-type(121) {
  animation-delay: 0.1716009194s;
  left: calc((100% - 3em) * 0.48);
}
.particle:nth-of-type(122) {
  animation-delay: 0.0585647629s;
  left: calc((100% - 3em) * 0.484);
}
.particle:nth-of-type(123) {
  animation-delay: 0.5125073601s;
  left: calc((100% - 3em) * 0.488);
}
.particle:nth-of-type(124) {
  animation-delay: 0.7686400017s;
  left: calc((100% - 3em) * 0.492);
}
.particle:nth-of-type(125) {
  animation-delay: 0.49980926s;
  left: calc((100% - 3em) * 0.496);
}
.particle:nth-of-type(126) {
  animation-delay: 0.9706818278s;
  left: calc((100% - 3em) * 0.5);
}
.particle:nth-of-type(127) {
  animation-delay: 0.9893811263s;
  left: calc((100% - 3em) * 0.504);
}
.particle:nth-of-type(128) {
  animation-delay: 0.6974413619s;
  left: calc((100% - 3em) * 0.508);
}
.particle:nth-of-type(129) {
  animation-delay: 0.0840968816s;
  left: calc((100% - 3em) * 0.512);
}
.particle:nth-of-type(130) {
  animation-delay: 0.6234134951s;
  left: calc((100% - 3em) * 0.516);
}
.particle:nth-of-type(131) {
  animation-delay: 0.307320125s;
  left: calc((100% - 3em) * 0.52);
}
.particle:nth-of-type(132) {
  animation-delay: 0.0947457323s;
  left: calc((100% - 3em) * 0.524);
}
.particle:nth-of-type(133) {
  animation-delay: 0.3978022627s;
  left: calc((100% - 3em) * 0.528);
}
.particle:nth-of-type(134) {
  animation-delay: 0.3661462829s;
  left: calc((100% - 3em) * 0.532);
}
.particle:nth-of-type(135) {
  animation-delay: 0.8340424822s;
  left: calc((100% - 3em) * 0.536);
}
.particle:nth-of-type(136) {
  animation-delay: 0.8164010977s;
  left: calc((100% - 3em) * 0.54);
}
.particle:nth-of-type(137) {
  animation-delay: 0.3172065544s;
  left: calc((100% - 3em) * 0.544);
}
.particle:nth-of-type(138) {
  animation-delay: 0.6017539265s;
  left: calc((100% - 3em) * 0.548);
}
.particle:nth-of-type(139) {
  animation-delay: 0.6910479646s;
  left: calc((100% - 3em) * 0.552);
}
.particle:nth-of-type(140) {
  animation-delay: 0.3304574095s;
  left: calc((100% - 3em) * 0.556);
}
.particle:nth-of-type(141) {
  animation-delay: 0.2446673232s;
  left: calc((100% - 3em) * 0.56);
}
.particle:nth-of-type(142) {
  animation-delay: 0.9484198211s;
  left: calc((100% - 3em) * 0.564);
}
.particle:nth-of-type(143) {
  animation-delay: 0.936167603s;
  left: calc((100% - 3em) * 0.568);
}
.particle:nth-of-type(144) {
  animation-delay: 0.8267277672s;
  left: calc((100% - 3em) * 0.572);
}
.particle:nth-of-type(145) {
  animation-delay: 0.1816904121s;
  left: calc((100% - 3em) * 0.576);
}
.particle:nth-of-type(146) {
  animation-delay: 0.4641169268s;
  left: calc((100% - 3em) * 0.58);
}
.particle:nth-of-type(147) {
  animation-delay: 0.8135742767s;
  left: calc((100% - 3em) * 0.584);
}
.particle:nth-of-type(148) {
  animation-delay: 0.3438563652s;
  left: calc((100% - 3em) * 0.588);
}
.particle:nth-of-type(149) {
  animation-delay: 0.2183056689s;
  left: calc((100% - 3em) * 0.592);
}
.particle:nth-of-type(150) {
  animation-delay: 0.6923262802s;
  left: calc((100% - 3em) * 0.596);
}
.particle:nth-of-type(151) {
  animation-delay: 0.1346366541s;
  left: calc((100% - 3em) * 0.6);
}
.particle:nth-of-type(152) {
  animation-delay: 0.0651984487s;
  left: calc((100% - 3em) * 0.604);
}
.particle:nth-of-type(153) {
  animation-delay: 0.1042041163s;
  left: calc((100% - 3em) * 0.608);
}
.particle:nth-of-type(154) {
  animation-delay: 0.8696663632s;
  left: calc((100% - 3em) * 0.612);
}
.particle:nth-of-type(155) {
  animation-delay: 0.7632789655s;
  left: calc((100% - 3em) * 0.616);
}
.particle:nth-of-type(156) {
  animation-delay: 0.402416359s;
  left: calc((100% - 3em) * 0.62);
}
.particle:nth-of-type(157) {
  animation-delay: 0.9847749362s;
  left: calc((100% - 3em) * 0.624);
}
.particle:nth-of-type(158) {
  animation-delay: 0.2259274746s;
  left: calc((100% - 3em) * 0.628);
}
.particle:nth-of-type(159) {
  animation-delay: 0.5656915936s;
  left: calc((100% - 3em) * 0.632);
}
.particle:nth-of-type(160) {
  animation-delay: 0.4372108196s;
  left: calc((100% - 3em) * 0.636);
}
.particle:nth-of-type(161) {
  animation-delay: 0.8776664392s;
  left: calc((100% - 3em) * 0.64);
}
.particle:nth-of-type(162) {
  animation-delay: 0.9744145089s;
  left: calc((100% - 3em) * 0.644);
}
.particle:nth-of-type(163) {
  animation-delay: 0.5998111575s;
  left: calc((100% - 3em) * 0.648);
}
.particle:nth-of-type(164) {
  animation-delay: 0.7225750386s;
  left: calc((100% - 3em) * 0.652);
}
.particle:nth-of-type(165) {
  animation-delay: 0.4085062789s;
  left: calc((100% - 3em) * 0.656);
}
.particle:nth-of-type(166) {
  animation-delay: 0.8508666702s;
  left: calc((100% - 3em) * 0.66);
}
.particle:nth-of-type(167) {
  animation-delay: 0.94437717s;
  left: calc((100% - 3em) * 0.664);
}
.particle:nth-of-type(168) {
  animation-delay: 0.778425918s;
  left: calc((100% - 3em) * 0.668);
}
.particle:nth-of-type(169) {
  animation-delay: 0.5535972702s;
  left: calc((100% - 3em) * 0.672);
}
.particle:nth-of-type(170) {
  animation-delay: 0.4300736132s;
  left: calc((100% - 3em) * 0.676);
}
.particle:nth-of-type(171) {
  animation-delay: 0.7352916973s;
  left: calc((100% - 3em) * 0.68);
}
.particle:nth-of-type(172) {
  animation-delay: 0.9205934815s;
  left: calc((100% - 3em) * 0.684);
}
.particle:nth-of-type(173) {
  animation-delay: 0.3472989744s;
  left: calc((100% - 3em) * 0.688);
}
.particle:nth-of-type(174) {
  animation-delay: 0.1157117844s;
  left: calc((100% - 3em) * 0.692);
}
.particle:nth-of-type(175) {
  animation-delay: 0.1935417256s;
  left: calc((100% - 3em) * 0.696);
}
.particle:nth-of-type(176) {
  animation-delay: 0.1203646051s;
  left: calc((100% - 3em) * 0.7);
}
.particle:nth-of-type(177) {
  animation-delay: 0.4349806634s;
  left: calc((100% - 3em) * 0.704);
}
.particle:nth-of-type(178) {
  animation-delay: 0.2561759249s;
  left: calc((100% - 3em) * 0.708);
}
.particle:nth-of-type(179) {
  animation-delay: 0.6959299702s;
  left: calc((100% - 3em) * 0.712);
}
.particle:nth-of-type(180) {
  animation-delay: 0.5034571291s;
  left: calc((100% - 3em) * 0.716);
}
.particle:nth-of-type(181) {
  animation-delay: 0.7233911712s;
  left: calc((100% - 3em) * 0.72);
}
.particle:nth-of-type(182) {
  animation-delay: 0.2993257885s;
  left: calc((100% - 3em) * 0.724);
}
.particle:nth-of-type(183) {
  animation-delay: 0.7090617847s;
  left: calc((100% - 3em) * 0.728);
}
.particle:nth-of-type(184) {
  animation-delay: 0.7966593634s;
  left: calc((100% - 3em) * 0.732);
}
.particle:nth-of-type(185) {
  animation-delay: 0.8583879176s;
  left: calc((100% - 3em) * 0.736);
}
.particle:nth-of-type(186) {
  animation-delay: 0.565171801s;
  left: calc((100% - 3em) * 0.74);
}
.particle:nth-of-type(187) {
  animation-delay: 0.2744158392s;
  left: calc((100% - 3em) * 0.744);
}
.particle:nth-of-type(188) {
  animation-delay: 0.8707405853s;
  left: calc((100% - 3em) * 0.748);
}
.particle:nth-of-type(189) {
  animation-delay: 0.661026619s;
  left: calc((100% - 3em) * 0.752);
}
.particle:nth-of-type(190) {
  animation-delay: 0.5760408031s;
  left: calc((100% - 3em) * 0.756);
}
.particle:nth-of-type(191) {
  animation-delay: 0.6335413388s;
  left: calc((100% - 3em) * 0.76);
}
.particle:nth-of-type(192) {
  animation-delay: 0.6384063929s;
  left: calc((100% - 3em) * 0.764);
}
.particle:nth-of-type(193) {
  animation-delay: 0.3907545404s;
  left: calc((100% - 3em) * 0.768);
}
.particle:nth-of-type(194) {
  animation-delay: 0.9235709591s;
  left: calc((100% - 3em) * 0.772);
}
.particle:nth-of-type(195) {
  animation-delay: 0.1570198707s;
  left: calc((100% - 3em) * 0.776);
}
.particle:nth-of-type(196) {
  animation-delay: 0.6434109883s;
  left: calc((100% - 3em) * 0.78);
}
.particle:nth-of-type(197) {
  animation-delay: 0.6206902764s;
  left: calc((100% - 3em) * 0.784);
}
.particle:nth-of-type(198) {
  animation-delay: 0.9144374376s;
  left: calc((100% - 3em) * 0.788);
}
.particle:nth-of-type(199) {
  animation-delay: 0.4954550299s;
  left: calc((100% - 3em) * 0.792);
}
.particle:nth-of-type(200) {
  animation-delay: 0.0134606112s;
  left: calc((100% - 3em) * 0.796);
}
.particle:nth-of-type(201) {
  animation-delay: 0.6503017459s;
  left: calc((100% - 3em) * 0.8);
}
.particle:nth-of-type(202) {
  animation-delay: 0.7435241027s;
  left: calc((100% - 3em) * 0.804);
}
.particle:nth-of-type(203) {
  animation-delay: 0.0665049001s;
  left: calc((100% - 3em) * 0.808);
}
.particle:nth-of-type(204) {
  animation-delay: 0.2898582679s;
  left: calc((100% - 3em) * 0.812);
}
.particle:nth-of-type(205) {
  animation-delay: 0.5612406566s;
  left: calc((100% - 3em) * 0.816);
}
.particle:nth-of-type(206) {
  animation-delay: 0.5485133328s;
  left: calc((100% - 3em) * 0.82);
}
.particle:nth-of-type(207) {
  animation-delay: 0.5175351734s;
  left: calc((100% - 3em) * 0.824);
}
.particle:nth-of-type(208) {
  animation-delay: 0.80672781s;
  left: calc((100% - 3em) * 0.828);
}
.particle:nth-of-type(209) {
  animation-delay: 0.3989140696s;
  left: calc((100% - 3em) * 0.832);
}
.particle:nth-of-type(210) {
  animation-delay: 0.8727640376s;
  left: calc((100% - 3em) * 0.836);
}
.particle:nth-of-type(211) {
  animation-delay: 0.91525169s;
  left: calc((100% - 3em) * 0.84);
}
.particle:nth-of-type(212) {
  animation-delay: 0.6373065375s;
  left: calc((100% - 3em) * 0.844);
}
.particle:nth-of-type(213) {
  animation-delay: 0.4269663296s;
  left: calc((100% - 3em) * 0.848);
}
.particle:nth-of-type(214) {
  animation-delay: 0.1029281101s;
  left: calc((100% - 3em) * 0.852);
}
.particle:nth-of-type(215) {
  animation-delay: 0.3159997425s;
  left: calc((100% - 3em) * 0.856);
}
.particle:nth-of-type(216) {
  animation-delay: 0.7692648867s;
  left: calc((100% - 3em) * 0.86);
}
.particle:nth-of-type(217) {
  animation-delay: 0.1922255865s;
  left: calc((100% - 3em) * 0.864);
}
.particle:nth-of-type(218) {
  animation-delay: 0.8931088949s;
  left: calc((100% - 3em) * 0.868);
}
.particle:nth-of-type(219) {
  animation-delay: 0.1649325385s;
  left: calc((100% - 3em) * 0.872);
}
.particle:nth-of-type(220) {
  animation-delay: 0.8025687474s;
  left: calc((100% - 3em) * 0.876);
}
.particle:nth-of-type(221) {
  animation-delay: 0.2177472797s;
  left: calc((100% - 3em) * 0.88);
}
.particle:nth-of-type(222) {
  animation-delay: 0.2616784861s;
  left: calc((100% - 3em) * 0.884);
}
.particle:nth-of-type(223) {
  animation-delay: 0.1690500603s;
  left: calc((100% - 3em) * 0.888);
}
.particle:nth-of-type(224) {
  animation-delay: 0.9704017303s;
  left: calc((100% - 3em) * 0.892);
}
.particle:nth-of-type(225) {
  animation-delay: 0.4346115419s;
  left: calc((100% - 3em) * 0.896);
}
.particle:nth-of-type(226) {
  animation-delay: 0.5514255159s;
  left: calc((100% - 3em) * 0.9);
}
.particle:nth-of-type(227) {
  animation-delay: 0.2651376089s;
  left: calc((100% - 3em) * 0.904);
}
.particle:nth-of-type(228) {
  animation-delay: 0.2327756688s;
  left: calc((100% - 3em) * 0.908);
}
.particle:nth-of-type(229) {
  animation-delay: 0.926794456s;
  left: calc((100% - 3em) * 0.912);
}
.particle:nth-of-type(230) {
  animation-delay: 0.9393204028s;
  left: calc((100% - 3em) * 0.916);
}
.particle:nth-of-type(231) {
  animation-delay: 0.4002628445s;
  left: calc((100% - 3em) * 0.92);
}
.particle:nth-of-type(232) {
  animation-delay: 0.1420139244s;
  left: calc((100% - 3em) * 0.924);
}
.particle:nth-of-type(233) {
  animation-delay: 0.3721528196s;
  left: calc((100% - 3em) * 0.928);
}
.particle:nth-of-type(234) {
  animation-delay: 0.6601762357s;
  left: calc((100% - 3em) * 0.932);
}
.particle:nth-of-type(235) {
  animation-delay: 0.3027142918s;
  left: calc((100% - 3em) * 0.936);
}
.particle:nth-of-type(236) {
  animation-delay: 0.7610260116s;
  left: calc((100% - 3em) * 0.94);
}
.particle:nth-of-type(237) {
  animation-delay: 0.5073146539s;
  left: calc((100% - 3em) * 0.944);
}
.particle:nth-of-type(238) {
  animation-delay: 0.462743117s;
  left: calc((100% - 3em) * 0.948);
}
.particle:nth-of-type(239) {
  animation-delay: 0.6184724303s;
  left: calc((100% - 3em) * 0.952);
}
.particle:nth-of-type(240) {
  animation-delay: 0.2981407279s;
  left: calc((100% - 3em) * 0.956);
}
.particle:nth-of-type(241) {
  animation-delay: 0.7067603449s;
  left: calc((100% - 3em) * 0.96);
}
.particle:nth-of-type(242) {
  animation-delay: 0.5934215306s;
  left: calc((100% - 3em) * 0.964);
}
.particle:nth-of-type(243) {
  animation-delay: 0.4780275538s;
  left: calc((100% - 3em) * 0.968);
}
.particle:nth-of-type(244) {
  animation-delay: 0.3580615091s;
  left: calc((100% - 3em) * 0.972);
}
.particle:nth-of-type(245) {
  animation-delay: 0.3747962033s;
  left: calc((100% - 3em) * 0.976);
}
.particle:nth-of-type(246) {
  animation-delay: 0.6503338214s;
  left: calc((100% - 3em) * 0.98);
}
.particle:nth-of-type(247) {
  animation-delay: 0.0199213697s;
  left: calc((100% - 3em) * 0.984);
}
.particle:nth-of-type(248) {
  animation-delay: 0.1268489474s;
  left: calc((100% - 3em) * 0.988);
}
.particle:nth-of-type(249) {
  animation-delay: 0.4855293461s;
  left: calc((100% - 3em) * 0.992);
}
.particle:nth-of-type(250) {
  animation-delay: 0.9540824325s;
  left: calc((100% - 3em) * 0.996);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}
